Repository mateusmento/epicstory-attempt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt --recursive

.lintstagedrc.json:

{
  "*.ts": "prettier --write",
  "*.js": "prettier --write",
  "*.json": "prettier --write",
  "*.yml": "prettier --write",
  "*.ymal": "prettier --write",
  "*.vue": "prettier --write",
  "*.html": "prettier --write",
  "*.tf": "terraform fmt --recursive"
}

Add .npmrc.config to be used with npmrc-replace-env
  .npmrc.config
Due: none

Remove npm workspaces
  api/Dockerfile
  api/package-lock.json
  app/Dockerfile
  app/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

Google oauth test
  .github/workflows/deploy.yml
  api/src/app.config.ts
  api/src/auth/auth.controller.spec.ts
  api/src/auth/auth.controller.ts
  api/src/auth/utils/google.strategy.ts
  app/.storybook/preview.ts
  app/mockServiceWorker.js
  app/package-lock.json
  app/package.json
  app/src/app/main.ts
  app/src/views/signin/SigninView.vue
  app/src/views/signup/SignupView.vue
  app/tsconfig.app.json
  app/tsconfig.json
  deploy/api/deploy.sh
  deploy/api/main.tf
  deploy/api/vars.tf
  design-system/README.md
  design-system/package-lock.json
  design-system/package.json
Due: prettier --write, terraform fmt --recursive

Add npmrc-replace-env script
  package-lock.json
  package.json
Due: prettier --write

Change priority in load balancer rules for app and api
  deploy/api/main.tf
  deploy/app/main.tf
Due: terraform fmt --recursive

Fix deploy action
  .github/workflows/deploy.yml
Due: prettier --write

Fix deploy action again
  .github/workflows/deploy.yml
Due: prettier --write

Fix nginx app deploy
  app/nginx.conf
Due: none

Fix destroy action
  .github/workflows/destroy.yml
Due: prettier --write

Rename job in destroy action
  .github/workflows/destroy.yml
Due: prettier --write

Fix deploy scripts
  deploy/api/deploy.sh
  deploy/terraform.sh
Due: none

Update design system package-lock.json
  design-system/package-lock.json
Due: prettier --write
