Repository mateusmento/epicstory-attempt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt --recursive

Enable test on commit
  .lintstagedrc.json
Due: prettier --write

Run workflow on push tags
  .github/workflows/release.yml
Due: prettier --write

Change testing on commit
  .husky/test-api
  .husky/test-app
  package.json
Due: prettier --write

Update pre-push
  .husky/pre-push
Due: none

Checkout in release workflow
  .github/workflows/release.yml
Due: prettier --write

Add .editorconfig to root
  .editorconfig
Due: none

Add test workflow
  .github/workflows/test.yml
Due: prettier --write

Add node versions in test workflow
  .github/workflows/test.yml
Due: prettier --write

Update test workflow
  .github/workflows/test.yml
Due: prettier --write

Update test workflow
  .github/workflows/test.yml
  .husky/test-api
  .husky/test-app
Due: prettier --write

Publish docker images on version release
  .github/workflows/release.yml
Due: prettier --write

Run publishing of app and api in different workflow jobs
  .github/workflows/release.yml
Due: prettier --write

Prevent release if tag pushed does not belong to main branch
  .github/workflows/release.yml
Due: prettier --write

Update release workflow
  .github/workflows/release.yml
  app/vitest.config.ts.timestamp-1717469790436-9db042bac14e1.mjs
Due: prettier --write

Fix release workflow
  .github/workflows/release.yml
  .husky/pre-push
Due: prettier --write

Prevent push of tag not from latest commit on main
  .husky/pre-push
Due: none

Prevent push of tags not from latest commit on main
  .husky/pre-push
Due: none

Fix pre-push to prevent tag push not on main
  .husky/pre-push
Due: none

Remove comments on pre-push
  .husky/pre-push
Due: none

Add comment describing pre-push rule
  .husky/pre-push
Due: none

Update release workflow
  .github/workflows/release.yml
Due: prettier --write

Test app and api in release workflow
  .github/workflows/release.yml
Due: prettier --write

Remove generated vitest config file
  app/vitest.config.ts.timestamp-1717469790436-9db042bac14e1.mjs
Due: none

Enable msw mocks in app
  app/src/app/config.ts
  app/src/app/enable-mocks.ts
  app/src/app/main.ts
  app/src/app/mocks.ts
Due: prettier --write

Remove msw mocks from cypress tests
  app/cypress/e2e/create-issue-in-project.cy.ts
  app/cypress/e2e/create-project-in-workspace.cy.ts
  app/cypress/e2e/create-workspace.cy.ts
  app/cypress/e2e/intercepts/intercepts.ts
  app/cypress/e2e/signup-user.cy.ts
Due: prettier --write

Fix cypress tests including /app/ prefix to urls visited
  app/cypress/e2e/create-issue-in-project.cy.ts
  app/cypress/e2e/create-project-in-workspace.cy.ts
  app/cypress/e2e/signup-user.cy.ts
Due: prettier --write

Add css reset, theme, components and utilities
  app/package-lock.json
  app/package.json
  app/src/app/main.ts
  app/src/styles/base/base.scss
  app/src/styles/base/index.scss
  app/src/styles/base/reset.scss
  app/src/styles/base/theme.scss
  app/src/styles/main.css
  app/src/styles/main.scss
  app/src/styles/patterns/button.scss
  app/src/styles/patterns/card.scss
  app/src/styles/patterns/highlight-box.scss
  app/src/styles/patterns/index.scss
  app/src/styles/patterns/typography.scss
  app/src/styles/utils/flex.scss
  app/src/styles/utils/grid.scss
  app/src/styles/utils/index.scss
  app/src/styles/utils/sizing.scss
  app/src/styles/variables.scss
Due: prettier --write

Improve ui of sign in page and add form components
  app/cypress/e2e/signin-user.cy.ts
  app/cypress/e2e/signup-user.cy.ts
  app/index.html
  app/package-lock.json
  app/package.json
  app/src/app/App.vue
  app/src/app/mocks.ts
  app/src/components/Button/Button.stories.ts
  app/src/components/Button/Button.vue
  app/src/components/Field.vue
  app/src/components/Form.vue
  app/src/components/Input.vue
  app/src/core/dependency-injection.ts
  app/src/domain/auth/auth.api.ts
  app/src/domain/auth/dtos/signup.dto.ts
  app/src/stories/SignupView.stories.ts
  app/src/views/dashboard/DashboardMain.vue
  app/src/views/signin/SigninView.vue
  app/src/views/signup/SignupView.vue
Due: prettier --write

Add test for form and input components and signin page
  app/cypress/e2e/page-objects/signin.ts
  app/cypress/e2e/signin-user.cy.ts
  app/cypress/e2e/signup-user.cy.ts
  app/src/app/mocks.ts
  app/src/components/Field.vue
  app/src/components/HelloWorld.vue
  app/src/components/__tests__/HelloWorld.spec.ts
  app/src/components/button/Button.stories.ts
  app/src/components/button/Button.vue
  app/src/components/button/index.ts
  app/src/components/field/Field.vue
  app/src/components/field/index.ts
  app/src/components/form/Form.spec.tsx
  app/src/components/form/Form.vue
  app/src/components/form/index.ts
  app/src/components/input/Input.vue
  app/src/components/input/index.ts
  app/src/domain/auth/auth.api.ts
  app/src/domain/auth/dtos/singin.dto.ts
  app/src/views/signin/SigninView.vue
  app/src/views/signup/SignupView.vue
Due: prettier --write

Use Inter font in signup form
  app/src/views/signup/SignupView.vue
Due: prettier --write

Binds class and id attrs in Field component root
  app/src/components/field/Field.vue
Due: prettier --write

feat(package): Add @epicstory/ui package with storybook and shadcn-vue
  app/.eslintrc.cjs
  app/.storybook/fonts.css
  app/.storybook/main.ts
  app/.storybook/preview.ts
  app/README.md
  app/cypress/e2e/create-issue-in-project.cy.ts
  app/cypress/e2e/create-project-in-workspace.cy.ts
  app/cypress/e2e/create-workspace.cy.ts
  app/cypress/e2e/mocks/enable-mocks.ts
  app/cypress/e2e/mocks/index.ts
  app/cypress/e2e/signin-user.cy.ts
  app/cypress/e2e/signup-user.cy.ts
  app/index.html
  app/package.json
  app/src/app/App.vue
  app/src/app/dependencies.ts
  app/src/app/enable-mocks.ts
  app/src/app/main.ts
  app/src/components/DragAndDropArea.stories.ts
  app/src/components/ScrollInnerFlexContainer.stories.ts
  app/src/components/ScrollInnerFlexContainer.vue
  app/src/components/field/Field.vue
  app/src/stories/Button.stories.ts
  app/src/stories/Configure.mdx
  app/src/stories/Header.stories.ts
  app/src/styles/main.css
  app/src/styles/patterns/typography.scss
  app/src/views/signup/SignupView.stories.ts
  app/src/views/signup/SignupView.vue
  app/tsconfig.app.json
  app/tsconfig.json
  app/vite.config.ts
  package.json
Due: prettier --write

feature(design-system): Merge app css into design system css
  app/.storybook/preview.ts
  app/src/app/main.ts
  app/src/components/button/Button.stories.ts
  app/src/components/button/Button.vue
  app/src/components/field/Field.vue
  app/src/components/icons/IconGoogle.vue
  app/src/styles/main.css
  app/src/styles/patterns/card.scss
  app/src/styles/utils/sizing.scss
  app/src/styles/variables.scss
  app/src/views/signup/SignupView.vue
  app/tailwind.config.js
  design-system/.gitignore
  design-system/.vscode/settings.json
  design-system/src/components/ui/button/Button.stories.tsx
  design-system/src/components/ui/button/buttonVariants.ts
  design-system/src/index.ts
  design-system/src/style.css
  design-system/src/styles/base/base.scss
  design-system/src/styles/base/index.scss
  design-system/src/styles/base/reset.scss
  design-system/src/styles/base/theme.scss
  design-system/src/styles/main.scss
  design-system/src/styles/patterns/button.scss
  design-system/src/styles/patterns/highlight-box.scss
  design-system/src/styles/patterns/index.scss
  design-system/src/styles/patterns/typography.scss
  design-system/src/styles/utils/flex.scss
  design-system/src/styles/utils/grid.scss
  design-system/src/styles/utils/index.scss
  design-system/src/styles/utils/sizing.scss
  design-system/src/styles/variables.scss
  design-system/tailwind.config.js
Due: prettier --write

Remove foo module
  api/src/app.module.ts
  api/src/foo/commands/create-foo.command.ts
  api/src/foo/commands/increment-foo.comment.ts
  api/src/foo/foo.controller.spec.ts
  api/src/foo/foo.controller.ts
  api/src/foo/foo.entity.ts
  api/src/foo/foo.module.ts
  api/src/foo/foo.repository.ts
  api/src/foo/queries/find-foos.query.ts
Due: prettier --write

Add signin with google
  api/package.json
  api/src/app.config.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/auth/auth.controller.spec.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.module.ts
  api/src/auth/utils/google.auth-guard.ts
  api/src/auth/utils/google.strategy.ts
  api/src/main.ts
  app/src/app/App.vue
  app/src/components/button/Button.stories.ts
  app/src/components/button/Button.vue
  app/src/views/dashboard/DashboardMain.vue
  app/src/views/signin/SigninView.vue
  app/src/views/signup/SignupView.vue
  deploy/app/main.tf
  design-system/src/components/ui/button/buttonVariants.ts
  design-system/src/styles/base/base.scss
  package-lock.json
Due: prettier --write, terraform fmt --recursive

Configure env vars and disable trust proxy
  api/src/app.config.ts
  api/src/auth/auth.controller.ts
  api/src/main.ts
  deploy/api/deploy.sh
Due: prettier --write

Include google oauth env vars and untrack .npmrc
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .gitignore
  .npmrc
Due: prettier --write

Path conditions:
  prettier --write: ((((((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.yml)) or (any of: *.ymal)) or (any of: *.vue)) or (any of: *.html)
  terraform fmt --recursive: any of: *.tf
